<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/static/han.png" mce_href="/han.png" type="image/x-icon">
<link href="/static/Datetime/sample/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/Datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <head>
        <title>追韩剧网--整合韩剧信息</title>
        <style type='text/css'>
            body {
                background-color: #99CCFF;
            }
            #subtit {
                color: #FFFFFF;
                font-size: 14px;
            }
            .itemul {
                background-color: #FFFFFF;
            }
            .itemli {
                background-color: #FFFFFF;
            }
            .uldiv {
                background-color: #FFFFFF;
            }
            #wel {
                font-size: 15px;
                color: white;
            }
            #left {
                width: 300px;
                height: 60px;
                position: absolute;
                top: 0;
                left: 40px;
            }
            #right {
                position: absolute;
                top: 0;
                right: 80px;
            }
            #main {
                height: 60px;
                margin: 0 auto;
                padding: 0 244px 0 304px
            }
            .cmnt {
                color: green;
            }
            .atag {
                color: white;
            }
            .sideatag {
                color: midnightblue;
            }
            .sidetit {
                color: darkblue;
            }
        </style>
        <script href="/static/Datetime/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript">
            function cancel()
            {
                document.getElementById("myDiv").innerHTML = ""
            }
            function goback() {
                window.history.back(-1);
                return false
            }
            function uinfo(uid) {
                window.location.href="uinfo?uid="+uid
            }
        </script>
    </head>

    <body>
        <div class="container" id="cont">
            <div id='content1' class='row-fluid'>
                <div class="span3 main">
                    <img src="/static/logo.png" />
                </div>
                <div id="subtit" class="span4 sidebar">
                    <span >|<br/>|<br/>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供韩剧信息整合,搜索及订阅{{ request.session.regstat }}</span>
                </div>
                <div id="right">
                    <br/>
                    <button onclick="uinfo({{ uid }})" class="btn btn-warning" >{{ username }}</button>&nbsp;&nbsp;
{#                    {% if auth == "1" %}#}
{#                    <button class="btn btn-success" onclick="window.location.href='manage'" >管理</button>&nbsp;&nbsp;#}
{#                    {% endif %}#}
                    <button class="btn btn-danger" onclick="window.location.href='logout'" >退出</button>
                </div>
            </div>
            <div class='navbar' id='div1'>
                <div class='navbar-inner nav-collapse' style="height: auto;" id='div2'>
                    <ul class="itemul nav" id='ul1'>
{#                        <li>#}
{#                            <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146150513412.png" alt="追韩剧网"/>#}
{#                        </li>#}
                        <li>
                            <a href="show?pn=1">资源库</a>
                        </li>
                        <li>
                            <a href="search">搜索</a>
                        </li>
                        <li>
                            <a href="myorder?pn=1">我的订阅</a>
                        </li>
                        {% if auth == "1" %}
                        <li>
                            <a href="usearch">用户搜索</a>
                        </li>
                        <li class="active">
                            <a href="#">添加资源</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="myDiv">
                {% if add == "ok" %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" onclick="cancel()">&times;</button>
                        <strong>添加成功&nbsp;</strong>
                    </div>
                {% endif %}
            </div>
            <div id='content' class='row-fluid'>

                <div class='span8 main listc'>
                    <br/>
                    <div class="hero-unit">
                        <h3>添加资源</h3>
                        <hr/>
                        <form action="doadditem" method="post">
                            {% csrf_token %}
                            <input name="atitle" id="atitle" type="text" placeholder="标题" style="width: 500px" required autofocus><br/>
                            <br/>
                            <input name="alink" id="alink" type="text" placeholder="链接" style="width: 500px" required><br/>
                            <br/>
                            <input name="asrc" id="asrc" type="text" placeholder="源" style="width: 500px" required><br/>
                            <br/>
                            <div class="controls input-append date form_datetime" data-date="2012-09-16 05:25:07" data-date-format="yyyy-mm-dd hh:mm:ss" data-link-field="dtp_input1">
                                <input id="atime" name="atime" size="16" type="text" value="" style="width: 300px" placeholder="更新时间(可不填)" >
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <br/>
                            <input type="submit" value="添 加" class="btn btn-info btn-large">
                            &nbsp;&nbsp;
                            <input type="button" value="返 回" onclick="return goback()" class="btn btn-success btn-large">
                        </form>

                    </div>

                </div>

                <div class='span1 sidebar'></div>

                <div class='span3 sidebar'>
{#                    <h3 class="sidetit">热门排行</h3>#}
                    <br/>
                    &nbsp;<img src="/static/rm.png"/>
                    <br/><br/>
                    <ul class="nav nav-tabs nav-stacked">
                        {% for t_item in t_items %}
                        <li>
                            <a class="sideatag" href="/cmt?uid={{ uid }}&did={{ t_item.0 }}" target="_blank">{{ t_item.1 }}</a>
                        </li>
                        {% endfor %}
                    </ul>

{#                    <h3 class="sidetit">口碑排行</h3>#}
                    &nbsp;<img src="/static/kb.png"/>
                    <br/><br/>
                    <ul class="nav nav-tabs nav-stacked">
                        {% for h_item in h_items %}
                        <li>
                            <a class="sideatag" href="/cmt?uid={{ uid }}&did={{ h_item.0 }}" target="_blank">{{ h_item.1 }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/Datetime/sample/jquery/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/static/Datetime/sample/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/Datetime/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/static/Datetime/js/locales/bootstrap-datetimepicker.fr.js"></script>
        <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        </script>
    </body>
</html>