<!DOCTYPE html>
<html lang="en">
<link href="/static/bootstrap-combined.min.css" rel="stylesheet">
{#<link href="/static/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />#}
<script src="/static/Raty/js/jquery.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/Raty/js/jquery.raty.min.js" charset="utf-8" type="text/javascript"></script>
{#<script src="/static/star-rating.min.js" type="text/javascript"></script>#}
    <head>
        <title>追韩剧网--整合韩剧信息</title>
        <style type='text/css'>
            body {
                background-color: #99CCFF;
            }
            #subtit {
                color: #FFFFFF;
                font-size: 14px;
            }
            .itemul {
                background-color: #FFFFFF;
            }
            .itemli {
                background-color: #FFFFFF;
            }
            .uldiv {
                background-color: #FFFFFF;
            }
            #wel {
                font-size: 15px;
                color: white;
            }
            #left {
                width: 300px;
                height: 60px;
                position: absolute;
                top: 0;
                left: 40px;
            }
            #right {
                position: absolute;
                top: 0;
                right: 80px;
            }
            #main {
                height: 60px;
                margin: 0 auto;
                padding: 0 244px 0 304px
            }
            .cmnt {
                color: green;
            }
            .atag {
                color: white;
            }
            .sideatag {
                color: midnightblue;
            }
            .sidetit {
                color: darkblue;
            }
            #cmtarea {
                width: 80%;
                height: 100px;
            }
            .prediv {
                text-align: left;
            }
            .cmt-user {
                color: red;
            }
        </style>

        <script type="text/javascript">
            function cancel()
            {
                document.getElementById("myDiv").innerHTML = ""
            }
            function uinfo(uid) {
                window.location.href="uinfo?uid="+uid
            }
            function order(uid, did) {
                // 使用ajax不刷新页面更新数据库
                var url = "order?uid="+uid+"&did="+did;
                var ajax = false;
                //开始初始化XMLHttpRequest对象
                if (window.XMLHttpRequest) { //Mozilla 浏览器
                    ajax = new XMLHttpRequest();
                    if (ajax.overrideMimeType)//设置MiME类别
                        ajax.overrideMimeType("text/xml");
                }
                else if (window.ActiveXObject) { // IE浏览器
                    try {
                        ajax = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        try {
                            ajax = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch (e) { }
                    }
                }
                if (!ajax) { // 异常，创建对象实例失败
                    window.alert("不能创建XMLHttpRequest对象实例.");
                    return false;
                }
                //通过Post方式打开连接
                ajax.open("GET", url, true);
                //发送GET数据,已经在URL中赋了值所以send那里只要加个空参.
                ajax.send(null);
                //获取执行状态
                ajax.onreadystatechange = function () {
                    //如果执行状态成功，那么就把返回信息写到指定的层里
{#                    <button id="odbtn" class="btn btn-mini btn-primary" type="button" onclick="order({{ uid }},{{ item.0 }})">&nbsp;订阅&nbsp;</button>#}
                    var btn=document.getElementById("odbtn"+did);
                    btn.className="btn btn-mini";
                    btn.setAttribute("onclick", "unorder("+uid+","+did+")");
                    btn.innerHTML="&nbsp;退订&nbsp;";
                }
            }
            function  stay() {
                window.location.href="#"
                return false
            }
            function goback() {
                window.history.back(-1);
                return false
            }
            function xedit() {
                document.getElementById("cmtdiv").setAttribute("class", "");
                document.getElementById("editdiv").setAttribute("class", "hide");
            }
            function showedit() {
                document.getElementById("cmtdiv").setAttribute("class", "hide");
                document.getElementById("editdiv").setAttribute("class", "");
                return false
            }
            function delinfo(did) {
                window.location.href="delinfo?did="+did;
                return false
            }

            function unorder(uid, did) {
                // 使用ajax不刷新页面更新数据库
                var url = "unorder?uid="+uid+"&did="+did;
                var ajax = false;
                //开始初始化XMLHttpRequest对象
                if (window.XMLHttpRequest) { //Mozilla 浏览器
                    ajax = new XMLHttpRequest();
                    if (ajax.overrideMimeType)//设置MiME类别
                        ajax.overrideMimeType("text/xml");
                }
                else if (window.ActiveXObject) { // IE浏览器
                    try {
                        ajax = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        try {
                            ajax = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch (e) { }
                    }
                }
                if (!ajax) { // 异常，创建对象实例失败
                    window.alert("不能创建XMLHttpRequest对象实例.");
                    return false;
                }
                //通过Post方式打开连接
                ajax.open("GET", url, true);
                //发送GET数据,已经在URL中赋了值所以send那里只要加个空参.
                ajax.send(null);
                //获取执行状态
                ajax.onreadystatechange = function () {
                    //如果执行状态成功，那么就把返回信息写到指定的层里
{#                    <button id="odbtn" class="btn btn-mini btn-primary" type="button" onclick="order({{ uid }},{{ item.0 }})">&nbsp;订阅&nbsp;</button>#}
                    var btn=document.getElementById("odbtn"+did);
                    btn.className="btn btn-mini btn-primary";
                    btn.setAttribute("onclick", "order("+uid+","+did+")");
                    btn.innerHTML="&nbsp;订阅&nbsp;";
                }
            }
{#            function order(uid, did)#}
{#            {#}
{#                var xmlhttp;#}
{#                if (window.XMLHttpRequest)#}
{#                {#}
{#                    xmlhttp=new XMLHttpRequest();#}
{#                }#}
{#                else#}
{#                {   //for IE6, IE5#}
{#                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");#}
{#                }#}
{#                xmlhttp.open("GET","order?uid="+uid+"&did="+did,false);#}
{#                xmlhttp.send(null);#}
{#                ajax.onreadystatechange = function () {#}
{#                    //如果执行状态成功，那么就把返回信息写到指定的层里#}
{#                    document.getElementById("myDiv").innerHTML="<h1>123</h1>";#}
{#                }#}
{#            }#}
        </script>
    </head>

    <body>
        <div class="container" id="cont">
            <div id='content1' class='row-fluid'>
                <div class="span3 main">
                    <img src="/static/logo.png" />
                </div>
                <div id="subtit" class="span4 sidebar">
                    <span >|<br/>|<br/>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供韩剧信息整合,搜索及订阅{{ request.session.regstat }}</span>
                </div>
                <div id="right">
                    <br/>
                    <button onclick="uinfo({{ uid }})" class="btn btn-warning" >{{ username }}</button>&nbsp;&nbsp;
{#                    {% if auth == "1" %}#}
{#                    <button class="btn btn-success" onclick="window.location.href='manage'" >管理</button>&nbsp;&nbsp;#}
{#                    {% endif %}#}
                    <button class="btn btn-danger" onclick="window.location.href='logout'" >退出</button>
                </div>
            </div>
            <div class='navbar' id='div1'>
                <div class='navbar-inner nav-collapse' style="height: auto;" id='div2'>
                    <ul class="itemul nav" id='ul1'>
{#                        <li>#}
{#                            <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146150513412.png" alt="追韩剧网"/>#}
{#                        </li>#}
                        <li>
                            <a href="show?pn=1">资源库</a>
                        </li>
                        <li class="itemli active">
                            <a href="#">评论页</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="myDiv">
                {% if logstat == "ok" %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" onclick="cancel()">&times;</button>
                        <strong>登录成功&nbsp;</strong>
                    </div>
                {% endif %}
            </div>
            <div id='content' class='row-fluid'>

                <div class='span8 main listc'>
                    <br/>
                    <div class="hero-unit" id="herodiv">
                        <h4>{{ citem.1 }}</h4>
                        链接:&nbsp;<a target="_blank" href="{{ citem.2 }}">{{ citem.2 }}</a><br/>
                        来源:&nbsp;{{ citem.3 }}<br/>
                        评分:&nbsp;<span id="showstar"></span>
                        <hr/>
                    {% if edit != "1" %}
                    <div id="cmtdiv">
                    {% else %}
                    <div id="cmtdiv" class="hide">
                    {% endif %}
                        评论({{ ccnt }})<br/>
                        {% if ccnt != 0 %}
                        <div class="prediv">
                        <pre class="pre-scrollable">
{% for cmt in cmts %}
<span class="cmt-user">发布者:{{ cmt.0 }}</span>   <span class="cmt-date">发布时间:{{ cmt.5 }}</span>
<span class="cmt-txt">内容:{{ cmt.3 }}</span>
_______________________________________________________________________{% if auth == "1" or uid == cmt.1%}<a href="delcmt?uid={{ cmt.1 }}&did={{ cmt.2 }}">[删除]</a>{% endif %}
{% endfor %}
                        </pre>
                        </div>
                        {% endif %}
                        <form action="docmt?uid={{ uid }}&did={{ did }}" method="post">
                            {% csrf_token %}
                            <label>
                                发表评论:<br/>
                                <textarea name="cmtarea" id="cmtarea"></textarea>
                            </label>

                            <label>评分:&nbsp;&nbsp;
                                <span id="star"></span>
                            </label>
                            <br/>

                            <input name="result" id="result"/>
                            <p>
                                {% if cmted == "no" %}
                                <button class="btn btn-info btn-large">
                                    发表评论
                                </button>
                                {% else %}
                                <button onclick="return stay()" class="btn btn-info btn-large disabled">
                                    您已发表过评论
                                </button>
                                {% endif %}
                                &nbsp;
                                {% if auth == "1" %}
                                <button onclick="return showedit()" class="btn btn-inverse btn-large">
                                    编辑
                                </button>
                                &nbsp;
                                {% endif %}
                                <button onclick="return goback();" class="btn btn-success btn-large">
                                    返回
                                </button>
                            </p>
                        </form>
                        </div>
                        {% if edit == "1" %}
                        <div id="editdiv">
                        {% else %}
                        <div id="editdiv" class="hide">
                        {% endif %}
                            <form id="modinfo" method="post" action="modinfo?did={{ citem.0 }}">
                                {% csrf_token %}
                                <h3>编辑:</h3>
                                <input id="newtit" name="newtit" type="text" style="width: 500px" placeholder="标题"/>
                                <input id="newlink" name="newlink" type="text" style="width: 500px" placeholder="链接"/>
                                <br/>
                                <input type="submit" class="btn" value="提交"/>
                                &nbsp;
                                <input type="button" class="btn" value="取消" onclick="xedit()"/>
                                &nbsp;
                                <input onclick="return delinfo({{ citem.0 }})" type="button" class="btn btn-inverse    " value="删除"/>
                                &nbsp;
                            </form>
                        </div>
                    </div>
{#                    <label for="input-id">评分</label><input id="input-id" type="number" class="rating" min=0 max=5 step=1 data-size="xs">#}
                </div>

                <div class='span1 sidebar'></div>

                <div class='span3 sidebar'>
{#                    <h3 class="sidetit">热门排行</h3>#}
                    <br/>
                    &nbsp;<img src="/static/rm.png"/>
                    <br/><br/>
                    <ul class="nav nav-tabs nav-stacked">
                        {% for t_item in t_items %}
                        <li>
                            <a class="sideatag" href="/cmt?uid={{ uid }}&did={{ t_item.0 }}" target="_blank">{{ t_item.1 }}</a>
                        </li>
                        {% endfor %}
                    </ul>
{#                    <h3 class="sidetit">口碑排行</h3>#}
                    &nbsp;<img src="/static/kb.png"/>
                    <br/><br/>
                    <ul class="nav nav-tabs nav-stacked">
                        {% for h_item in h_items %}
                        <li>
                            <a class="sideatag" href="/cmt?uid={{ uid }}&did={{ h_item.0 }}" target="_blank">{{ h_item.1 }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script>
            $(function(){
                $('#result').hide();
                $('#star').raty({
                    path:"/static/Raty/img",
                    hints:['1', '2', '3', '4', '5'],
{#                    starOff: 'face-a-off.png',#}
{#                    starOn: 'face-c.png'#}
                    target: '#result',
                    targetKeep: true,
                    score: 0
                });
                $('#showstar').raty({
                    path:"/static/Raty/img",
                    score: {{ citem.7 }},
                    readOnly: true
                });
            })
        </script>
    </body>
</html>