{#<script>#}
{# 		function check()#}
{#		{#}
{#			if (document.form.inputUsername.value == "")#}
{#			{#}
{#				alertMsg("请输入用户名");#}
{#				return false;#}
{#			}#}
{#	    	if (document.form.inputUsername.value == "")#}
{#			{#}
{#				alertMsg("请输入用户名");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputRealname.value == "")#}
{#			{#}
{#				alertMsg("请输入真实姓名");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputPassword.value == "")#}
{#			{#}
{#				alertMsg("请输入密码");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.repeatPassword.value == "")#}
{#			{#}
{#				alertMsg("请确认密码");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputSex.value == "")#}
{#			{#}
{#				alertMsg("请选择性别");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputAge.value == "")#}
{#			{#}
{#				alertMsg("请输年龄");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputID.value == "")#}
{#			{#}
{#				alertMsg("请输入身份证");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputPhone.value == "")#}
{#			{#}
{#				alertMsg("请输入电话号码");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputEmail.value == "")#}
{#			{#}
{#				alertMsg("请输入电子邮件");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputAddress.value == "")#}
{#			{#}
{#				alertMsg("请输入地址");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputPassword.value != document.form.repeatPassword.value)#}
{#			{#}
{#				alertMsg("两次输入密码不一致");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputAge.value < 0 || document.form.inputAge.value > 200)#}
{#			{#}
{#				alertMsg("请输入正确的年龄");#}
{#				return false;#}
{#			}#}
{#			else if (document.form.inputID.value.length != 18 && document.form.inputID.value.length != 15)#}
{#			{#}
{#				alertMsg("请输入正确的身份证号");#}
{#				return false;#}
{#			}#}
{#			if (document.getElementById("inputPassword").value.length < 6 || document.getElementById("inputPassword").value.length > 19)#}
{#			{#}
{#				alertMsg("密码长度不正确");#}
{#				return false;#}
{#			}#}
{#			document.form.action="actreg";#}
{#		    document.form.submit();#}
{#		}#}
{#	</script>#}
<!DOCTYPE html>
<html lang="en">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <head>
        <title>追韩剧网--整合韩剧信息</title>
        <style type='text/css'>
            body {
                background-color: #99CCFF;
            }
            #subtit {
                color: #FFFFFF;
                font-size: 14px;
            }
            .itemul {
                background-color: #FFFFFF;
            }
            .itemli {
                background-color: #FFFFFF;
            }
            #regblk {
                background-color: #FFFFFF;
            }
            .uldiv {
                background-color: #FFFFFF;
            }
            #innerblk {
                margin: 10px 20px 10px 20px;
            }
        </style>

        <script type="text/javascript">
            function loadXMLDoc(str)
            {
                document.getElementById("myDiv").innerHTML = "<div class=\"alert alert-error alert-dismissable\">" +
                "   <button type=\"button\" class=\"close\" data-dismiss=\"alert\" onclick=\"cancel()\">&times;</button>" +
                "<strong>嘿嘿嘿!</strong>"+str+"</div>"
            }
            function sleep(numberMillis) {
               var now = new Date();
               var exitTime = now.getTime() + numberMillis;
               while (true) {
                   now = new Date();
                   if (now.getTime() > exitTime)    return;
                }
            }
            function cancel()
            {
                document.getElementById("myDiv").innerHTML = ""
            }
            function  tolog()
            {
                window.location.href='login';
                return false
            }
            function reg()
            {
                var str;
                var Regex = /^(?:\w+\.?)*\w+@(?:\w+\.)*\w+$/;
                if (document.getElementById("uname").value == "")
                {
                    str = '用户名为空';
                }
                else if (document.getElementById("email").value == "")
                {
                    str = '电子邮件为空'
                }
                else if (Regex.test(document.getElementById("email").value) == false)
                {
                    str = '电子邮件格式不合法'
                }
                else if (document.getElementById("password").value == "")
                {
                    str = '密码为空'
                }
                else if (document.getElementById("password").value.length < 6 || document.getElementById("password").value.length > 20)
                {
                    str = '密码长度不合法'
                }
                else if (document.getElementById("repeat").value != document.getElementById("password").value)
                {
                    str = '两次输入不一致'
                }
                else
                {
                    window.location.href = 'doreg';
                    return false
                }

                document.getElementById("myDiv").innerHTML = "<div class=\"alert alert-error alert-dismissable\">" +
                "   <button type=\"button\" class=\"close\" data-dismiss=\"alert\" onclick=\"cancel()\">&times;</button>" +
                "<strong>注册失败&nbsp;</strong>"+str+"</div>";

                return false
            }
        </script>
    </head>

    <body>
        <div class="container" id="cont">
            <div id='content1' class='row-fluid'>
                <div class="span3 main">
                    <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146154346933.png" />
                </div>
                <div id="subtit" class="span7 sidebar">
                    <span >|<br/>|<br/>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供韩剧信息整合,搜索及订阅</span>
                </div>
                <div class="span2 sidebar">
                </div>
            </div>

            <div class='navbar' id='div1'>
                <div class='navbar-inner nav-collapse' style="height: auto;" id='div2'>
                    <ul class="itemul nav" id='ul1'>
{#                        <li>#}
{#                            <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146150513412.png" alt="追韩剧网"/>#}
{#                        </li>#}
                        <li class="itemli">
                            <a href="login">登录</a>
                        </li>
                        <li class="itemli active">
                            <a href="#">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="myDiv">
                {% if regstat == "fail" %}
                    <div class="alert alert-error alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" onclick="cancel()">&times;</button>
                        <strong>注册失败&nbsp;{{ str }}</strong>
                    </div>
                {% endif %}
            </div>
            <div id='content' class='row-fluid'>

                <div class="span4 sidebar"></div>

                <div class="span4 main" id="regblk">
                    <div class="row-fluid" id="innerblk">
                        <div class="span1 sidebar"></div>
                        <div class="span1 siderbar">
                        <form action="doreg" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
                                <legend>注册</legend>
{#                                <label>用户名</label>#}
                                <input name="uname" id="username" type="text" placeholder="用户名">
                                <input name="uemail" id="email" type="text" placeholder="电子邮箱">
                                <input name="upwd" id="password" type="password" placeholder="密码(6-20位)">
                                <input name="repeat" id="repeat" type="password" placeholder="确认密码">
{#                                <span class="help-block">Example block-level help text here.</span>#}
{#                                <label class="checkbox">#}
{#                                    <input type="checkbox"> Check me out#}
{#                                </label>#}
                                <br/>
                                <button type="submit" class="btn btn-info" onclick="return reg()">注&nbsp;册</button>
                                &nbsp;
                                <button type="submit" class="btn btn-success" onclick="return tolog()">返&nbsp;回</button>
                            </fieldset>
                        </form></div>
                    </div>
                </div>

                <div class="span4 sidebar"></div>
            </div>
        </div>
    </body>
</html>
