<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/static/han.png" mce_href="/han.png" type="image/x-icon">
<link href="/static/Datetime/sample/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/Datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <head>
        <title>追韩剧网--整合韩剧信息</title>
        <style type='text/css'>
            body {
                background-color: #99CCFF;
            }
            #subtit {
                color: #FFFFFF;
                font-size: 14px;
            }
            .itemul {
                background-color: #FFFFFF;
            }
            .itemli {
                background-color: #FFFFFF;
            }
            .uldiv {
                background-color: #FFFFFF;
            }
            #wel {
                font-size: 15px;
                color: white;
            }
            #left {
                width: 300px;
                height: 60px;
                position: absolute;
                top: 0;
                left: 40px;
            }
            #right {
                position: absolute;
                top: 0;
                right: 80px;
            }
            #main {
                height: 60px;
                margin: 0 auto;
                padding: 0 244px 0 304px
            }
            .cmnt {
                color: green;
            }
            .atag {
                color: white;
            }
            .sideatag {
                color: midnightblue;
            }
            .sidetit {
                color: darkblue;
            }
        </style>
        <script href="/static/Datetime/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript">
            function cancel()
            {
                document.getElementById("myDiv").innerHTML = ""
            }
            function goback() {
                window.history.back(-1);
                return false
            }
            function uinfo(uid) {
                window.location.href="uinfo?uid="+uid
            }
            function order(uid, did) {
                // 使用ajax不刷新页面更新数据库
                var url = "order?uid="+uid+"&did="+did;
                var ajax = false;
                //开始初始化XMLHttpRequest对象
                if (window.XMLHttpRequest) { //Mozilla 浏览器
                    ajax = new XMLHttpRequest();
                    if (ajax.overrideMimeType)//设置MiME类别
                        ajax.overrideMimeType("text/xml");
                }
                else if (window.ActiveXObject) { // IE浏览器
                    try {
                        ajax = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        try {
                            ajax = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch (e) { }
                    }
                }
                if (!ajax) { // 异常，创建对象实例失败
                    window.alert("不能创建XMLHttpRequest对象实例.");
                    return false;
                }
                //通过Post方式打开连接
                ajax.open("GET", url, true);
                //发送GET数据,已经在URL中赋了值所以send那里只要加个空参.
                ajax.send(null);
                //获取执行状态
                ajax.onreadystatechange = function () {
                    //如果执行状态成功，那么就把返回信息写到指定的层里
{#                    <button id="odbtn" class="btn btn-mini btn-primary" type="button" onclick="order({{ uid }},{{ item.0 }})">&nbsp;订阅&nbsp;</button>#}
                    var btn=document.getElementById("odbtn"+did);
                    btn.className="btn btn-mini";
                    btn.setAttribute("onclick", "unorder("+uid+","+did+")");
                    btn.innerHTML="&nbsp;退订&nbsp;";
                }
            }

            function unorder(uid, did) {
                // 使用ajax不刷新页面更新数据库
                var url = "unorder?uid="+uid+"&did="+did;
                var ajax = false;
                //开始初始化XMLHttpRequest对象
                if (window.XMLHttpRequest) { //Mozilla 浏览器
                    ajax = new XMLHttpRequest();
                    if (ajax.overrideMimeType)//设置MiME类别
                        ajax.overrideMimeType("text/xml");
                }
                else if (window.ActiveXObject) { // IE浏览器
                    try {
                        ajax = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch (e) {
                        try {
                            ajax = new ActiveXObject("Microsoft.XMLHTTP");
                        } catch (e) { }
                    }
                }
                if (!ajax) { // 异常，创建对象实例失败
                    window.alert("不能创建XMLHttpRequest对象实例.");
                    return false;
                }
                //通过Post方式打开连接
                ajax.open("GET", url, true);
                //发送GET数据,已经在URL中赋了值所以send那里只要加个空参.
                ajax.send(null);
                //获取执行状态
                ajax.onreadystatechange = function () {
                    //如果执行状态成功，那么就把返回信息写到指定的层里
{#                    <button id="odbtn" class="btn btn-mini btn-primary" type="button" onclick="order({{ uid }},{{ item.0 }})">&nbsp;订阅&nbsp;</button>#}
                    var btn=document.getElementById("odbtn"+did);
                    btn.className="btn btn-mini btn-primary";
                    btn.setAttribute("onclick", "order("+uid+","+did+")");
                    btn.innerHTML="&nbsp;订阅&nbsp;";
                }
            }
{#            function order(uid, did)#}
{#            {#}
{#                var xmlhttp;#}
{#                if (window.XMLHttpRequest)#}
{#                {#}
{#                    xmlhttp=new XMLHttpRequest();#}
{#                }#}
{#                else#}
{#                {   //for IE6, IE5#}
{#                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");#}
{#                }#}
{#                xmlhttp.open("GET","order?uid="+uid+"&did="+did,false);#}
{#                xmlhttp.send(null);#}
{#                ajax.onreadystatechange = function () {#}
{#                    //如果执行状态成功，那么就把返回信息写到指定的层里#}
{#                    document.getElementById("myDiv").innerHTML="<h1>123</h1>";#}
{#                }#}
{#            }#}
        </script>
    </head>

    <body>
        <div class="container" id="cont">
            <div id='content1' class='row-fluid'>
                <div class="span3 main">
                    <img src="/static/logo.png" />
                </div>
                <div id="subtit" class="span4 sidebar">
                    <span >|<br/>|<br/>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供韩剧信息整合,搜索及订阅{{ request.session.regstat }}</span>
                </div>
                <div id="right">
                    <br/>
                    <button onclick="uinfo({{ uid }})" class="btn btn-warning" >{{ username }}</button>&nbsp;&nbsp;
{#                    {% if auth == "1" %}#}
{#                    <button class="btn btn-success" onclick="window.location.href='manage'" >管理</button>&nbsp;&nbsp;#}
{#                    {% endif %}#}
                    <button class="btn btn-danger" onclick="window.location.href='logout'" >退出</button>
                </div>
            </div>
            <div class='navbar' id='div1'>
                <div class='navbar-inner nav-collapse' style="height: auto;" id='div2'>
                    <ul class="itemul nav" id='ul1'>
{#                        <li>#}
{#                            <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146150513412.png" alt="追韩剧网"/>#}
{#                        </li>#}
                        <li>
                            <a href="show?pn=1">资源库</a>
                        </li>
                        <li class="active">
                            <a href="#">搜索</a>
                        </li>
                        <li>
                            <a href="myorder?pn=1">我的订阅</a>
                        </li>
                        {% if auth == "1" %}
                        <li>
                            <a href="usearch">用户搜索</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="myDiv">
            </div>
            <div id='content' class='row-fluid'>

                <div class='span8 main listc'>
                    <br/>
                    <div class="hero-unit">
                        <h3>剧集搜索</h3>
                        <hr/>
                        <form action="dosearch?pn=1" method="post">
                            {% csrf_token %}
                            <input name="keyword" id="keyword" type="text" placeholder="关键词" style="width: 500px"><br/>
                            <br/>
                            <div class="controls input-append date form_datetime" data-date="2012-09-16 05:25:07" data-date-format="yyyy-mm-dd hh:mm:ss" data-link-field="dtp_input1">
{#                                <label>时间从:</label>#}
                                <input id="tfrom" name="tfrom" size="16" type="text" value="" placeholder="时间从(可不填)" >
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <br/>
                            <div class="controls input-append date form_datetime" data-date="2012-09-16 05:25:07" data-date-format="yyyy-mm-dd hh:mm:ss" data-link-field="dtp_input1">
{#                                <label>时间至:</label>#}
                                <input id="tto" name="tto" size="16" type="text" value="" placeholder="时间至(可不填)">
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <br/>
                            源:&nbsp;&nbsp;韩饭网<input name="source" type="checkbox" value="韩饭网" checked>&nbsp;
                            大连生活网<input name="source" type="checkbox" value="大连生活网" checked>&nbsp;
                            韩剧吧<input name="source" type="checkbox" value="韩剧吧" checked>&nbsp;
                            热播网<input name="source" type="checkbox" value="热播网" checked>
                            <br/><br/>
                            <input type="submit" value="搜索" class="btn btn-info btn-large">
                            &nbsp;&nbsp;
                            <input type="button" value="返回" onclick="return goback()" class="btn btn-success btn-large">
                        </form>

                    </div>
{#                    <div class="container">#}
{#                        <form action="" class="form-horizontal">#}
{#                            <fieldset>#}
{#                                <legend>Test</legend>#}
{#                                <div class="control-group">#}
{#                                    <label class="control-label">DateTime Picking</label>#}
{#                                    <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd hh:mm:ss" data-link-field="dtp_input1">#}
{#                                        <input size="16" type="text" value="" readonly>#}
{#                                        <span class="add-on"><i class="icon-remove"></i></span>#}
{#                                        <span class="add-on"><i class="icon-th"></i></span>#}
{#                                    </div>#}
{#                                    <input type="hidden" id="dtp_input1" value="" /><br/>#}
{#                                </div>#}
{#                                <div class="control-group">#}
{#                                    <label class="control-label">Date Picking</label>#}
{#                                    <div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">#}
{#                                        <input size="16" type="text" value="" readonly>#}
{#                                        <span class="add-on"><i class="icon-remove"></i></span>#}
{#                                        <span class="add-on"><i class="icon-th"></i></span>#}
{#                                    </div>#}
{#                                    <input type="hidden" id="dtp_input2" value="" /><br/>#}
{#                                </div>#}
{#                                <div class="control-group">#}
{#                                    <label class="control-label">Time Picking</label>#}
{#                                    <div class="controls input-append date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">#}
{#                                        <input size="16" type="text" value="" readonly>#}
{#                                        <span class="add-on"><i class="icon-remove"></i></span>#}
{#                                        <span class="add-on"><i class="icon-th"></i></span>#}
{#                                    </div>#}
{#                                    <input type="hidden" id="dtp_input3" value="" /><br/>#}
{#                                </div>#}
{#                            </fieldset>#}
{#                        </form>#}
{#                    </div>#}

                </div>

                <div class='span1 sidebar'></div>

                <div class='span3 sidebar'>
{#                    <h3 class="sidetit">热门排行</h3>#}
                    <br/>
                    &nbsp;<img src="/static/rm.png"/>
                    <br/><br/>
                    <ul class="nav nav-tabs nav-stacked">
                        {% for t_item in t_items %}
                        <li>
                            <a class="sideatag" href="/cmt?uid={{ uid }}&did={{ t_item.0 }}" target="_blank">{{ t_item.1 }}</a>
                        </li>
                        {% endfor %}
                    </ul>

{#                    <h3 class="sidetit">口碑排行</h3>#}
                    &nbsp;<img src="/static/kb.png"/>
                    <br/><br/>
                    <ul class="nav nav-tabs nav-stacked">
                        {% for h_item in h_items %}
                        <li>
                            <a class="sideatag" href="/cmt?uid={{ uid }}&did={{ h_item.0 }}" target="_blank">{{ h_item.1 }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/Datetime/sample/jquery/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/static/Datetime/sample/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/Datetime/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="/static/Datetime/js/locales/bootstrap-datetimepicker.fr.js"></script>
        <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
        </script>
    </body>
</html>