<!DOCTYPE html>
<html lang="en">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <head>
        <title>追韩剧网--整合韩剧信息</title>
        <style type='text/css'>
            body {
                background-color: #99CCFF;
            }
            #subtit {
                color: #FFFFFF;
                font-size: 14px;
            }
            .itemul {
                background-color: #FFFFFF;
            }
            .itemli {
                background-color: #FFFFFF;
            }
            .uldiv {
                background-color: #FFFFFF;
            }
        </style>

        <script type="text/javascript">
            function loadXMLDoc(str)
            {
                document.getElementById("myDiv").innerHTML = "<div class=\"alert alert-error alert-dismissable\">" +
                "   <button type=\"button\" class=\"close\" data-dismiss=\"alert\" onclick=\"cancel()\">&times;</button>" +
                "<strong>嘿嘿嘿!</strong>"+str+"</div>"
            }
            function cancel()
            {
                document.getElementById("myDiv").innerHTML = ""
            }
        </script>
    </head>

    <body>
        <div class="container" id="cont">
            <div id='content1' class='row-fluid'>
                <div class="span3 main">
                    <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146154346933.png" />
                </div>
                <div id="subtit" class="span7 sidebar">
                    <span >|<br/>|<br/>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供韩剧信息整合,搜索及订阅</span>
                </div>
                <div class="span2 sidebar">
                    <br/>
                    <button class="btn btn-success" onclick="window.location.href='register'" >注册</button>
                    <button class="btn btn-info">登录</button>
                </div>
            </div>
            <div class='navbar' id='div1'>
                <div class='navbar-inner nav-collapse' style="height: auto;" id='div2'>
                    <ul class="itemul nav" id='ul1'>
{#                        <li>#}
{#                            <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146150513412.png" alt="追韩剧网"/>#}
{#                        </li>#}
                        <li class="itemli active">
                            <a href="#">资源库</a>
                        </li>
                        <li>
                            <a href="#">搜索</a>
                        </li>
                        <li>
                            <a href="#">我的订阅</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="myDiv">
                {% if logstat == "ok" %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" onclick="cancel()">&times;</button>
                        <strong>登录成功&nbsp;</strong>
                    </div>
                {% endif %}
            </div>
            <div id='content' class='row-fluid'>

                <div class='span8 main listc'>
                    <div class="item row-fluid">

                        <div class="span1 main">
                            <img src="http://center.blueidea.com/avatar.php?uid=291426&size=small"/>
                            <br/>
                            <br/>
                            <button class="btn btn-mini btn-primary" type="button">&nbsp;订阅&nbsp;</button>
                        </div>
                        <div class="span11 main uldiv">
                            <ul class="nav nav-tabs nav-stacked">
                                <li>
                                    <a href="http://www.hanfan.cc/19143.html">韩剧《戏子》中字下载 [HDTV-MKV/720P][连载/第2集]</a>
                                </li>
                                <li>
                                    <a>更新时间: 2016年4月21日 星期四 05:41</a>
                                </li>
                                <li>
                                    <a>Another Link 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="item row-fluid">
                        <div class="span1 main">
                            <img src="http://center.blueidea.com/avatar.php?uid=291426&size=small"/>
                        </div>
                        <div class="span11 main uldiv">
                            <ul class="nav nav-tabs nav-stacked">
                                <li>
                                    <a href="http://www.hanfan.cc/19143.html">韩剧《戏子》中字下载 [HDTV-MKV/720P][连载/第2集]</a>
                                </li>
                                <li>
                                    <a href='#'>更新时间: 2016年4月21日 星期四 05:41</a>
                                </li>
                                <li>
                                    <a href='#'>Another Link 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="item row-fluid">
                        <div class="span1 main">
                            <img src="http://center.blueidea.com/avatar.php?uid=291426&size=small"/>
                            <br/>
                            <br/>
                            <button class="btn btn-mini" type="button">&nbsp;退订&nbsp;</button>
                        </div>
                        <div class="span11 main uldiv">
                            <ul class="nav nav-tabs nav-stacked">
                                <li>
                                    <a href="http://www.hanfan.cc/19143.html">韩剧《戏子》中字下载 [HDTV-MKV/720P][连载/第2集]</a>
                                </li>
                                <li>
                                    <a href='#'>更新时间: 2016年4月21日 星期四 05:41</a>
                                </li>
                                <li>
                                    <a href='#'>Another Link 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <br/>
                    <br/><div class="item row-fluid">
                        <div class="span1 main">
                            <img src="http://center.blueidea.com/avatar.php?uid=291426&size=small"/>
                        </div>
                        <div class="span11 main uldiv">
                            <ul class="nav nav-tabs nav-stacked">
                                <li>
                                    <a href="http://www.hanfan.cc/19143.html">韩剧《戏子》中字下载 [HDTV-MKV/720P][连载/第2集]</a>
                                </li>
                                <li>
                                    <a href='#'>更新时间: 2016年4月21日 星期四 05:41</a>
                                </li>
                                <li>
                                    <a href='#'>Another Link 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <br/>
                    <br/><div class="item row-fluid">
                        <div class="span1 main">
                            <img src="http://center.blueidea.com/avatar.php?uid=291426&size=small"/>
                        </div>
                        <div class="span11 main uldiv">
                            <ul class="nav nav-tabs nav-stacked">
                                <li>
                                    <a href="http://www.hanfan.cc/19143.html">韩剧《戏子》中字下载 [HDTV-MKV/720P][连载/第2集]</a>
                                </li>
                                <li>
                                    <a href='#'>更新时间: 2016年4月21日 星期四 05:41</a>
                                </li>
                                <li>
                                    <a href='#'>Another Link 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>

                <div class='span1 sidebar'></div>

                <div class='span3 sidebar'>
                    <h3>热门排行</h3>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href='#'>Another Link 1</a>
                        </li>
                        <li>
                            <a href='#'>Another Link 2</a>
                        </li>
                        <li>
                            <a href='#'>Another Link 3</a>
                        </li>
                    </ul>

                    <h3>口碑排行</h3>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href='#'>Another Link 1</a>
                        </li>
                        <li>
                            <a href='#'>Another Link 2</a>
                        </li>
                        <li>
                            <a href='#'>Another Link 3</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="myDiv"></div>
            <button type="button" onclick="loadXMLDoc('大撒比')">Warn Me</button>

        </div>
    </body>
</html>