<!DOCTYPE html>
<html lang="en">
<link href="/static/bootstrap-combined.min.css" rel="stylesheet">
    <head>
        <title>追韩剧网--整合韩剧信息</title>
        <style type='text/css'>
            body {
                background-color: #99CCFF;
            }
            #subtit {
                color: #FFFFFF;
                font-size: 14px;
            }
            .itemul {
                background-color: #FFFFFF;
            }
            .itemli {
                background-color: #FFFFFF;
            }
            .uldiv {
                background-color: #FFFFFF;
            }
        </style>

        <script type="text/javascript">
            function loadXMLDoc(str)
            {
                document.getElementById("myDiv").innerHTML = "<div class=\"alert alert-error alert-dismissable\">" +
                "   <button type=\"button\" class=\"close\" data-dismiss=\"alert\" onclick=\"cancel()\">&times;</button>" +
                "<strong>嘿嘿嘿!</strong>"+str+"</div>"
            }
            function cancel()
            {
                document.getElementById("myDiv").innerHTML = ""
            }
        </script>
    </head>

    <body>
        <div class="container" id="cont">
            <div id='content1' class='row-fluid'>
                <div class="span3 main">
                    <img src="http://ceysv.img47.wal8.com/img47/543993_20160424102125/146154346933.png" />
                </div>
                <div id="subtit" class="span7 sidebar">
                    <span >|<br/>|<br/>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供韩剧信息整合,搜索及订阅</span>
                </div>
                <div class="span2 sidebar">
                    <br/>
                    <button class="btn btn-success" onclick="window.location.href='register'" >注册</button>
                    <button class="btn btn-info">登录</button>
                </div>
            </div>


            <div id="myDiv"></div>
            <button type="button" onclick="loadXMLDoc('大撒比')">Warn Me</button>

        </div>
    </body>
</html>